* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    outline: none;
}
body {
    overflow-x: hidden;
    font-size: 16px;
    background: url('img/got.jpeg') top center no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* overflow: hidden; */
}